<!-- <div class="container mt-5 page">
  <div class="row">
    <div class="col-lg-11 col-12">

      <div class="mb-5" >
        <h2 class="navbar-brand-lg">All Users</h2>
      </div>


      <table class="table">
        <thead class="fs-5">
          <tr >
            <th>User name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Admin-operations</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let user of usersList">

            <td><a class="link" routerLink="/users/bookinghistory/{{user.id}}"> {{user.name}} </a> </td>
            <td> {{user.email}} </td>

            <td> 
              <p *ngIf="user.role==true else elseBlock">Admin</p>
              <ng-template #elseBlock>
                <td>User</td>
              </ng-template>
            </td>

            <td > 
              <button class="btn btn-danger px-3" (click)="onDelete(user.id)">Delete</button> 
            </td>

          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>

 -->




<div class="container mt-5">
  <div class="row">
    <div class="col">

      
      
      <div class="mb-5">
        <h2 class="navbar-brand-lg">All Users</h2>
      </div>

      <ag-grid-angular
      class="ag-theme-alpine"
      style="height: 50vh; width: 100%;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [animateRows]="true"
      [rowSelection]="'multiple'"
      (cellClicked)="onCellClicked($event)"
      >

      </ag-grid-angular>


    </div>
  </div>
</div>