<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 col">
          
        <h3 class="mb-3">Adding Show</h3>
  
        <form [formGroup]="showForm" (ngSubmit)="onSubmit()">
  
          <div class="form-outline mb-4">
            <label for="cinema"> <span class="link-danger">*</span> Select Cinema</label> 
            <select class="form-control form-control-medium" [ngClass]="{'is-invalid':(showForm.controls['cinemaname'].touched && showForm.controls['cinemaname'].invalid) || ( showForm.controls['cinemaname'].invalid && formInvalid)}" formControlName="cinemaname" (change)="onChange(showForm.value.cinemaname)">
              <option default disabled value="">Not Selected</option>
              <option *ngFor="let cinema of cinemas" value="{{cinema.name}}">{{cinema.name}}</option>
            </select>
  
            <div class="invalid-feedback">Please Enter Valid Cinema</div>
          </div>
          
                
          <div class="form-outline mb-4">
            <label for="movie"> <span class="link-danger">*</span> Select Movie</label> 
            <select class="form-control form-control-medium" [ngClass]="{'is-invalid':(showForm.controls['moviename'].touched && showForm.controls['moviename'].invalid) || (showForm.controls['moviename'].invalid && formInvalid)}"  formControlName="moviename">
              <option default disabled value="">Not Selected</option>
              <option *ngFor="let movie of movies" value="{{movie.name}}">{{movie.name}}</option>
            </select>
  
            <div class="invalid-feedback">Please Enter Valid Movie</div>
          </div>
          
                
          <div class="form-outline mb-4">
            <label for="screen"> <span class="link-danger">*</span> Select screen</label> <br>
            <select class="form-control form-control-medium" [ngClass]="{'is-invalid':(showForm.controls['screen'].touched && showForm.controls['screen'].invalid) || (showForm.controls['screen'].invalid && formInvalid)}" formControlName="screen">
              <option default disabled value="">Not Selected</option>
              <option *ngFor="let n of screensInSelectedCinema; index as i" value="screen {{i+1}}">screen {{i+1}}</option>
            </select>
  
            <div class="invalid-feedback">Please Enter Valid Screen</div>
          </div>
          
  
          <div class="form-outline mb-4">
            <label> <span class="link-danger">*</span> Start Screening Date</label> 
            <input class="form-control form-control-medium" type="date" [ngClass]="{'is-invalid':(showForm.controls['startscreeningdate'].touched && showForm.controls['startscreeningdate'].invalid) || (showForm.controls['startscreeningdate'].invalid && formInvalid)}" formControlName="startscreeningdate">
  
            <div class="invalid-feedback">Please Enter Valid Start-Screening-Date</div>
          </div>
          
          
          <div class="form-outline mb-4">
            <label> <span class="link-danger">*</span> End Screening Date</label> 
            <input class="form-control form-control-medium" type="date" [ngClass]="{'is-invalid':(showForm.controls['endscreeningdate'].touched && showForm.controls['endscreeningdate'].invalid) || (showForm.controls['endscreeningdate'].invalid && formInvalid)}" formControlName="endscreeningdate">
  
            <div class="invalid-feedback">Please Enter Valid End-Screening-Date</div>
          </div>
  
                
          <div class="form-outline mb-4">
            <label for="screeningtime"> <span class="link-danger">*</span> Screening time</label> <br>
            <select multiple class="form-control form-control-medium" [ngClass]="{'is-invalid':(showForm.controls['screeningtime'].touched && showForm.controls['screeningtime'].invalid) || (showForm.controls['screeningtime'].invalid && formInvalid)}" formControlName="screeningtime">
              <option default disabled value="">Not Selected</option>
              <option *ngFor="let time of showsavailabilitytimeInSelectedCinema" value="{{time}}">{{time}}</option>
            </select>
  
            <div  class="invalid-feedback">Please Enter Valid Screening-Time</div>
          </div>
          
          
          <div>
            <a class="btn btn-danger" routerLink="/shows">Cancel</a>
            <button class="btn btn-success mx-3" type="submit" >Submit</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
  
  