<!-- 

<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <h1>Book my Show</h1>
    </a>
  </div>

  <div class="menu">
    <a *ngIf="role==-1" routerLink="/login">
      <li>Login</li>
    </a>

    <a *ngIf="role==-1" routerLink="/registration">
      <li>Register</li>
    </a>

    <a *ngIf="role!=-1" (click)="logOut()">
      <li>LogOut</li>
    </a>

    

  </div>
</nav>
 -->






<nav class="navbar navbar-expand-lg bg-light mynavbar">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">Book-My-SHow</a>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand" routerLink="/cinemas">Cinemas</a>
        <a class="navbar-brand" routerLink="/movies">Movies</a>
        <a class="navbar-brand" routerLink="/shows" *ngIf="role==1">Shows</a>
        <a class="navbar-brand" routerLink="/users" *ngIf="role==1">Users</a>
        <a class="navbar-brand" routerLink="/bookings" *ngIf="role==1">Bookings</a>    
      </ul>

     <!-- 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <ul class="navbar-nav ">
        <li class="nav-item" *ngIf="role==-1">
          <a class="nav-link active" aria-current="page" routerLink="/login">Login</a>
        </li>
        
        <li class="nav-item" *ngIf="role==-1">
          <a class="nav-link active" aria-current="page" routerLink="/registration">Register</a>
        </li>

        
        <li class="nav-item" *ngIf="role!=-1">
          <a class="nav-link active logout" aria-current="page" (click)="logOut()">LogOut</a>
        </li>
      </ul>
      

    </div>
  </div>
</nav>