<!-- 

<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <h1>Book my Show</h1>
    </a>
  </div>

  <div class="menu">
    <a *ngIf="role==-1" routerLink="/login">
      <li>Login</li>
    </a>

    <a *ngIf="role==-1" routerLink="/registration">
      <li>Register</li>
    </a>

    <a *ngIf="role!=-1" (click)="logOut()">
      <li>LogOut</li>
    </a>

    

  </div>
</nav>
 -->






<nav class="navbar navbar-expand-lg bg-light mynavbar">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">Book-My-SHow</a>
    

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="navbar-brand menuitems" routerLink="/cinemas">Cinemas</a>
        <a class="navbar-brand menuitems" routerLink="/movies">Movies</a>
        <a class="navbar-brand menuitems" routerLink="/shows" *ngIf="role==1">Shows</a>
        <a class="navbar-brand menuitems" routerLink="/users" *ngIf="role==1">Users</a>
        <a class="navbar-brand menuitems" routerLink="/bookings" *ngIf="role==1">Bookings</a>    
      </ul>


      <ul class="navbar-nav ">
        <li class="nav-item" *ngIf="role==-1">
          <a class="nav-link active menuitems" aria-current="page" routerLink="/login">Login</a>
        </li>
        
        <li class="nav-item" *ngIf="role==-1">
          <a class="nav-link active menuitems" aria-current="page" routerLink="/registration">Register</a>
        </li>

        
        <li class="nav-item" *ngIf="role!=-1">

          <!-- Default dropstart button -->
          <div class="btn-group">
            <a type="button" class="profile" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user nav-link active profile menuitems"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end mydropdown">
              <!-- Dropdown menu links -->
              <a class="nav-link active menuitems" (click)="profile()">Profile</a>
              <a class="nav-link active menuitems" (click)="bookinghistory()">Booking history</a>
              <a class="nav-link active logout menuitems" aria-current="page" (click)="logOut()">LogOut</a>
            </ul>
          </div>

        </li>

      </ul>
      

    </div>
  </div>
</nav>