<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col">

      <h3 class="mb-3">Adding Movie</h3>

      <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-outline mb-4">
          <label for="nameInput" class=""><span class="link-danger">*</span>Name</label>
          <input type="text" id="nameInput" class="form-control form-control-medium" placeholder="Enter Movie-Name" [ngClass]="{'is-invalid': (name.touched && name.invalid) || (name.invalid && formInvalid)}" name="name" ngModel #name="ngModel" required>

          <div class="invalid-feedback" >
            Please Enter Valid Movie-Name
          </div>
        </div>


        <div class="form-outline mb-4">
          <label for="releaseddateInput" class=""><span class="link-danger">*</span>Released Date</label>
          <input type="date" id="releaseddateInput" class="form-control form-control-medium" placeholder="Enter Released-Date" [ngClass]="{'is-invalid': (releaseddate.touched && releaseddate.invalid) || (releaseddate.invalid && formInvalid)}" name="releaseddate" ngModel #releaseddate="ngModel" required>

          <div class="invalid-feedback" >
            Please Enter Valid Released-Date
          </div>
        </div>


        <div class="form-outline mb-4">
          <label for="descrpInput" class=""><span class="link-danger">*</span>Descrption</label>
          <input type="text" id="descrpInput" class="form-control form-control-medium" placeholder="Enter Descrption" [ngClass]="{'is-invalid': (descrp.touched && descrp.invalid) || (descrp.invalid && formInvalid)}" name="descrp" ngModel #descrp="ngModel" required>

          <div class="invalid-feedback" >
            Please Enter Valid Descrption
          </div>
        </div>


        <div class="form-outline mb-4">
          <label for="movieposterInput" class=""><span class="link-danger">*</span>Movie Poster Link</label>
          <input type="text" id="movieposterInput" class="form-control form-control-medium" placeholder="Enter Movie-Poster-Link" [ngClass]="{'is-invalid': (movieposter.touched && movieposter.invalid) || (movieposter.invalid && formInvalid)}" name="movieposter" ngModel #movieposter="ngModel" required>

          <div class="invalid-feedback" >
            Please Enter Movie-poster-Link
          </div>
        </div>


        <div>
          <a class="btn btn-danger" routerLink="/movies">Cancel</a>
          <button class="btn btn-success mx-3" type="submit" >Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>