<p>registration works!</p>

<section class="">
    <div class="container-fluid mb-3">
      <div class="row d-flex justify-content-center align-items-center form-container">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="registerform" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Register with</p>
  
              
              <button type="button" class="btn btn-primary btn-floating mx-1  socialmedia">
                <i class="fa fa-google"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1  socialmedia">
                <i class="fa fa-facebook"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1 socialmedia">
                <i class="fa fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-primary btn-floating mx-1  socialmedia">
                <i class="fa fa-linkedin"></i>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
  
  
            <!-- Name input -->
            <div class="form-outline form-floating mb-4">
              <input type="text" id="form3Example2" class="form-control inp-field" [ngClass]="{'is-invalid':(registerform.controls['name'].touched && registerform.controls['name'].invalid) || (registerform.controls['name'].invalid && registerFormInvalid)}"  placeholder="name" formControlName="name"/>
              <label class="form-label label-field" for="form3Example2">Name <span class="link-danger">*</span></label>
  
              
              <div class="invalid-feedback" *ngIf="(registerform.controls['name'].touched && registerform.controls['name'].invalid) || (registerform.controls['name'].invalid && registerFormInvalid)">
                Please Enter Valid Name
              </div>
            </div>
                      
  
            <!-- Email input -->
            <div class="form-outline form-floating mb-4">
              <input type="email" id="form3Example3" class="form-control inp-field" [ngClass]="{'is-invalid':(registerform.controls['email'].touched && registerform.controls['email'].invalid) || (registerform.controls['email'].invalid && registerFormInvalid)}"  placeholder="email address" formControlName="email"/>
              <label class="form-label label-field" for="form3Example3">Email address <span class="link-danger">*</span></label>
  
              
              <div class="invalid-feedback" *ngIf="(registerform.controls['email'].touched && registerform.controls['email'].invalid) || (registerform.controls['email'].invalid && registerFormInvalid)">
                Please Enter Valid Email
              </div>
            </div>
  
            
            <!-- Password input -->
            <div class="form-outline form-floating mb-3">
              <input type="password" id="form3Example4" class="form-control inp-field" [ngClass]="{'is-invalid':(registerform.controls['password'].touched && registerform.controls['password'].invalid) || (registerform.controls['password'].invalid && registerFormInvalid)}" placeholder="password" formControlName="password"/>
              <label class="label-field" for="form3Example4">Password <span class="link-danger">*</span></label>
  
              
              <div class="invalid-feedback" *ngIf="(registerform.controls['password'].touched && registerform.controls['password'].invalid) || (registerform.controls['password'].invalid && registerFormInvalid)">
                Please Enter Valid Password
              </div>
            </div>
  
  
            <!--confirm Password input -->
            <div class="form-outline form-floating mb-3">
              <input type="password" id="form3Example5" class="form-control inp-field" [ngClass]="{'is-invalid':(registerform.controls['confirmpassword'].touched && registerform.controls['confirmpassword'].invalid) || (registerform.controls['confirmpassword'].invalid && registerFormInvalid) || (registerform.value.password!=registerform.value.confirmpassword && registerform.controls['confirmpassword'].touched )}"  placeholder="Confirm password" formControlName="confirmpassword"/>
              <label class="label-field" for="form3Example5">Confirm Password <span class="link-danger">*</span></label>
  
              
              <div class="invalid-feedback" *ngIf="!registerform.controls['password'].dirty && ((registerform.controls['confirmpassword'].touched && registerform.controls['confirmpassword'].invalid) || (registerform.controls['confirmpassword'].invalid && registerFormInvalid)) ">
                Please Enter Valid Confirm Password
              </div>
  
              <div class="invalid-feedback" *ngIf="(registerform.controls['password'].dirty && registerform.controls['confirmpassword'].dirty && registerform.value.password!=registerform.value.confirmpassword )">
                Password not matched
              </div>
            </div>
  
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
            </div>
  
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
              <p class="large fw-bold mt-2 pt-1 mb-0">Already have an account? <a routerLink="/login" class="link-danger">Login</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
    
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fa fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
  
  
  
  
  
  