<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col">

            <p class="mb-3"> Change password</p>

            <form #form="ngForm" (submit)="onSubmit(form)">
                <div class="form-outline mb-4">
                    <label>Enter New Password <span class="link-danger">*</span></label>
                    <input type="password" class="form-control form-control-medium" [ngClass]="{'is-invalid':(password.touched && password.invalid) || (password.invalid && formInvalid)}" placeholder="Enter New Password" name="password" ngModel #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$">

                    <div class="invalid-feedback">Please Enter a Valid New Password</div>
                </div>

                <div class="form-outline mb-4">
                    <label>Confirm New Password <span class="link-danger">*</span></label>
                    <input type="password" class="form-control form-control-medium" [ngClass]="{'is-invalid':(confirmpassword.touched && confirmpassword.invalid) || (confirmpassword.invalid && formInvalid) || (confirmpassword.touched && password.value!=confirmpassword.value)}" placeholder="Enter Confirm Password" name="confirmpassword" ngModel #confirmpassword="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" >

                    <div *ngIf="!password.dirty && ((confirmpassword.touched && confirmpassword.invalid) || (confirmpassword.invalid && formInvalid))" class="invalid-feedback">Please Enter a Valid New Password</div>
                    <div *ngIf="(password.dirty && confirmpassword.dirty && password.value!=confirmpassword.value)" class="invalid-feedback">Password Not Matched</div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>

        </div>
    </div>
</div>