<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col">
        
      <h3 class="mb-3">Editing Cinema</h3>

      <form [formGroup]="myform" (ngSubmit)="onSubmit()">

        <div class="form-outline mb-4">
          <label> <span class="link-danger">*</span> Name</label>
          <input type="text" class="form-control form-control-medium" [ngClass]="{'is-invalid':(myform.controls['name'].touched && myform.controls['name'].invalid) || (myform.controls['name'].invalid && formInvalid)}" placeholder="Enter Cinema-Name" formControlName="name">
        
          <div class="invalid-feedback">Please Enter Valid Cinema-Name</div>
        </div>


        <div class="form-outline mb-4">
          <label> <span class="link-danger">*</span> Address</label>
          <input type="text" class="form-control form-control-medium" placeholder="Enter Address"  [ngClass]="{'is-invalid':(myform.controls['address'].touched && myform.controls['address'].invalid) || (myform.controls['address'].invalid && formInvalid)}" formControlName="address">
        
          <div class="invalid-feedback">Please Enter Valid Address </div>   
        </div>
        

        <div class="form-outline mb-4">
          <label> <span class="link-danger">*</span> Contact Number</label>
          <input type="text" class="form-control form-control-medium" placeholder="Enter Contact-Number" [ngClass]="{'is-invalid': (myform.controls['contactnumber'].touched && myform.controls['contactnumber'].invalid) || (myform.controls['contactnumber'].invalid && formInvalid)}" formControlName="contactnumber">
        
          <div class="invalid-feedback">Please Enter Valid Contact-Number</div>
        </div>
        

        <div class="form-outline mb-4">
          <label>Website URL</label><br>
          <input type="text" class="form-control form-control-medium" placeholder="Enter Website-URL" [ngClass]="{'is-invalid':(myform.controls['website'].touched && myform.controls['website'].invalid) || (myform.controls['website'].invalid  && formInvalid)}"  formControlName="website">
        
          <div class="invalid-feedback" >Please Enter Valid Website-URL</div>
        </div>
        

        <div class="form-outline mb-4">
          <label> <span class="link-danger">*</span> Number of Screens</label>
          <input type="number" class="form-control form-control-medium" placeholder="Enter Number-of-Screens" [ngClass]="{'is-invalid':(myform.controls['screens'].touched && myform.controls['screens'].invalid) || (myform.controls['screens'].invalid && formInvalid )}" formControlName="screens">
        
          <div class="invalid-feedback">Please Enter valid Screen-Number </div>
        </div>
        

        <div class="form-outline mb-4">
          <label> <span class="link-danger">*</span> Shows Availability time</label>
          <input type="text" class="form-control form-control-medium" placeholder="Enter Shows-Availability-Time" [ngClass]="{'is-invalid':(myform.controls['showsavailabilitytime'].touched && myform.controls['showsavailabilitytime'].invalid) || (myform.controls['showsavailabilitytime'].invalid || formInvalid)}" formControlName="showsavailabilitytime">
        
          <div class="invalid-feedback" >Please Enter Valid Shows-Availability-Time </div>
        </div>


        <div>  
          <a routerLink="/cinemas" class="btn btn-danger">Cancel  </a>
          <button  type="submit" class="btn btn-success mx-3">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>