<!-- <div class="page">
  <h1>forgot password</h1>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h3>Enter the Email  to recieve your forgotten password</h3>
    
    <input type="email" placeholder="email" name="email" ngModel #email="ngModel" required email><br>
    <span *ngIf="email.touched && email.invalid">Email is invalid</span> <br><br>

    <button  [disabled]="form.invalid">Send Email</button>
  </form>

</div> -->





<div class="container page mt-5">

  <div class="row mb-5">
    <div class="col-8">
      <h1>forgot password ?</h1>
      <h3>Enter the Email  to recieve your forgotten password</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div  class="form-floating mb-3">
          
          <input type="email" class="form-control" [ngClass]="{'is-invalid': (email.invalid && email.touched) || (email.invalid && formInvalid) , 'is-valid': (email.valid && email.touched)}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email address" name="email" ngModel #email="ngModel" required email>
          <label for="exampleInputEmail1" >Email address</label>

          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

          <div class="invalid-feedback" *ngIf="(email.invalid && email.touched) || (email.invalid && formInvalid)">
            Please enter valid Email
          </div>
        </div>
              
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>

</div> 