<div *ngIf="role!=1" class="movie-container">

  <div *ngFor="let movie of moviesList">
    
    <a class='link' routerLink="/movies/details/{{movie.id}}">
      <div class="movie-card">
        <!-- <img src="../../../assets/movies-posters/{{movie.name}}.jpg" class="poster"> -->
        <img src="{{movie.movieposter}}" class="poster">
        <p class="title">{{movie.name}}</p>
      </div>
    </a>
  
  </div>

</div>






<!--  
<div *ngIf="role==1" class="heading">
  <h1  class="heading-name">All Movies</h1>
  <a  class="addnewmovie" routerLink="/movies/addnewmovie"> <button mat-raised-button color="accent">Add new Movie </button> </a>
</div>

<div *ngIf="role==1" class="main">

  <div class="records" *ngIf="moviesList.length else elseBlock">
    <table mat-table [dataSource]="moviesList" class="mat-elevation-z8">
  
      <ng-container matColumnDef="movieposter">
        <th mat-header-cell *matHeaderCellDef> Movie Poster </th>
        <td mat-cell *matCellDef="let element"> <img class="movieposter" src="{{element.movieposter}}"> </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> 
          <a class="movieLink" routerLink="/movies/details/{{element.id}}"> {{element.name}} </a> 
        </td>
      </ng-container>
  
      
      <ng-container matColumnDef="releaseddate">
        <th mat-header-cell *matHeaderCellDef> ReleasedDate </th>
        <td mat-cell *matCellDef="let element"> {{element.releaseddate}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="descrp">
        <th mat-header-cell *matHeaderCellDef> Descrption </th>
        <td mat-cell *matCellDef="let element"> {{element.descrp}} </td>
      </ng-container>
  
      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let element">
          <a class="operations" routerLink="/movies/editmovie/{{element.id}}"> <button mat-raised-button color="primary">Edit</button>  </a>
          <button class="operations" mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button> 
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template  #elseBlock>
    <h1>OOPS!   No Records are Found</h1>
  </ng-template>
  

</div>   -->



<div *ngIf="role==1" class="container mt-5 page">
  <div class="row">
    <div class="col">

      <div class="d-flex justify-content-between mb-5" >
        <h2 class="navbar-brand-lg">All Movies</h2>
        <a  class="btn btn-primary py-2"  routerLink="/cinemas/addnewcinema"> Add new Movie  </a>
      </div>


      <table class="table table-responsive table-striped table-hover">

        <thead class="fs-5 table-primary">
          <tr>
            <th>Movie Poster</th>
            <th>Movie name</th>
            <th>Released Date</th>
            <th>Descrption</th>
            <th class="" *ngIf="role==1">Admin-operations</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let movie of moviesList">
            <td><img class="movieposter" src="{{movie.movieposter}}"> </td>
            <td> <a class="link" routerLink="/movies/details/{{movie.id}}">{{movie.name}}</a> </td>
            <td> {{movie.releaseddate}} </td>
            <td> {{movie.descrp}} </td>

            <td> 
              <a  class="btn btn-success px-4" routerLink="/movies/editmovie/{{movie.id}}">Edit</a> 
              <button class="btn btn-danger px-3 mx-lg-3" (click)="onDelete(movie.id)">Delete</button> 
            </td>

          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>




